{
	"Services": {
		"Service1": "Stop",
		"Service2": "Start",
		"Service3": "Reload",
		"Service4": "Restart"
	},
	"Packages":{
		"package1": "install",
		"package2": "remove",
		"package2": "update"
	},
	"files":{
		"fullpath1":{
			"Create":"text in the file",
			"update_permissions": "442",
			"update_owner": "user",
			"modify": "text in the file",
			"related_services": ["service1", "service2"]
		},
		"fullpath2":{
			"Create":"text in the file",
			"update_permissions": "442",
			"update_owner": "user",
			"modify": "text in the file",
			"related_services": ["service1", "service2"]
		}
	},
	"Hosts":{
		"hostname1":{
			"fqdn": "x.com",
			"ip": "192.169.3.1",
			"login_user": "username",
			"login_pass": "Password", 
			"login_key_file": "file_path"
		}
	}
}